version: 2
jobs:
  build:
    working_directory: /go/src/github.com/athagi/health-check-cli/
    docker: # use the docker executor type; machine and macos executors are also supported
      - image: circleci/golang:1.12.6 # the primary container, where your job's commands are run
        environment:
          GO111MODULE: "on"
    steps:
      - checkout # check out the code in the project directory
      - run: make build
      - run: ls -al dest/