version: 2.1
orbs:
  aws-s3: circleci/aws-s3@1.0.11
jobs:
  build:
    # working_directory: /go/src/github.com/athagi/health-check-cli/
    docker: # use the docker executor type; machine and macos executors are also supported
      - image: circleci/golang:1.12.6 # the primary container, where your job's commands are run
        environment:
          GO111MODULE: "on"
    steps:
      - checkout # check out the code in the project directory
      - run: make build
      - run: ls -al dest/
      - store_artifacts:
          path: dest/
      - persist_to_workspace:
          root: ./
          paths: 
            - dest/*
  upload:
    docker:
      - image: 'circleci/python:2.7'
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run: ls .
      - run: ls /tmp/workspace/dest/
      - aws-s3/copy:
          from: /tmp/workspace/dest/darwin/*
          to: 's3://health-check-cli/darwin/'
          arguments: '--dryrun'
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - upload:
          requires:
            - build


